h1{
    color: blueviolet;
    text-align: center;
    margin-top: 20px;
}

body{
    background-color: gray;
    font-family: Arial, sans-serif;
}
p{
    color: aqua;
    background-color: darkgreen;
    font-size: 20px;
}
ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0; 
    list-style-type: none;  
    border-radius: 5px; 
}
ul li {
    padding: 15px 25px; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
ul li:hover {
    background-color: blueviolet; 
}
.img1 {
    width: 800px;
    height: auto; 
    display: block;
    margin: 20px auto; 
}
header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: rgb(53, 231, 222);
}
.logo {
    width: 100px;
    height: auto;
    float: left; 
}